.about{
    background-color: #FEFAE0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #223F39;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
}


p#tiny {
    font-size: 150%;
    margin: 0;
    margin-top: 10px;

}

.about p {
    margin: 2%;
}

.about h2 {
    font-size: 250%;
    font-weight: 200;
}

.about li {
    font-size: 150%;
}

.about ul {
    margin: 5px;
}

.ufPhoto {
    width: 70%;
}

.ufPhoto img {
    max-width: 95%;  
    max-height: 80%;
    display: block;
    margin-left: 5%;
    margin-right: 3%;
}

#textBoxRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    padding: 0 5% 0 0;
}

#textBoxLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    padding-left: 5%;
}

.skillsImages{
    width: 50%;
}


#python {
    height: auto;
    width:  40%;

}

.funFactsImages {
    width: 50%;
}

@media only screen and (max-width: 750px) {
#container {
    flex-direction: column-reverse;
}

#textBoxRight {
    width: 100%;
}

#textBoxLeft {
    width: 100%;
}

.ufPhoto {
    width: 100%;
}

.ufPhoto img {
    padding: 0;
    margin: auto;
    width: 90%;
}

}

@media only screen and (min-width: 750px) {
    
    
}